body {
    background-color: #FFFFFE;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    #main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2em;
        margin: 0 auto;
    }

    .card {
        margin: 1em;
    }

    .icon-container {
        background-color: #FFFFFE;
    }
}

@media screen and (max-width: 480px) {
    #main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .card {
        margin: 1em;
    }
}

.card {
    width: 275px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2em;
    padding: 20px;
    box-shadow: 0px 7px 29px -3px #64646F;
    background-color: #FFFFFE;
}

.card:hover {
    background-color: #3DA9FC;
}

.icon-container:hover {
    background-color: #FFFFFE;
}

.icon-container {
    background-color: #3DA9FC ;
    color: #FFFFFE;
    font-size: 3em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    font-weight: 600;
    font-family: sans-serif, Poppins;
    color: #094067;
    margin-bottom: -10px;
}

.main-text {
    font-size: 1.2em;
    font-family: sans-serif, Nato Sans;
    color: #5F6C7B;
}





